<div class="root">
	<div class="row">
		<div class="col-lg-12">
			<div class="grey-box">
				<h4>Editing litter</h4>

				<%= render 'form' %>

				<%#= link_to 'Show', @litter ,class: 'btn btn-primary' %> |
				<%#= link_to 'Back', litters_path ,class: 'btn btn-primary' %>
			</div>
	 	</div>
	</div>
</div>