<script type="text/javascript" charset="utf-8">
$(function(){
  // new Highcharts.Chart({
  $("#puppies-by-litter-line").highcharts({
    chart: {
            type: 'spline'
           },
    title: {text: 'Puppies survival per litter'},
    xAxis: {
        categories: <%= @litter_bitches %>,
        labels: {
          rotation: -90,
          align: 'right'
        }
    },
    yAxis: {
      min: 0,
      title: {text: "Puppies", margin: 50}
    },
    // credits: {enabled: true, href: 'http://hungkwang.com', text: 'hungkwang.com'},
    credits: {enabled: false},
    plotOptions: {
                spline: {
                    dataLabels: {
                        enabled: true
                    },
                    enableMouseTracking: true
                }
    },
    legend: {
           align: 'center',
           enabled: true,
           labelFormatter: function(){
              var total = 0;
              for(var i=this.yData.length; i--;) {total += this.yData[i];};
              return this.name + '-Total: ' + total;
           }
    },
    series: [
              {name: 'Puppies survive', data: <%= @pregnancy.map{|x| x.litters.where(survival: true).size} %>},
              {name: 'Puppies not survive', data: <%= @pregnancy.map{|x| x.litters.where(survival: false).size} %>}
            ]

  });
});
</script>
<div id="puppies-by-litter-line"></div><hr>