<div class="root">
	<div class="row">
		<div class="col-lg-12">
			<div class="grey-box">
				<h4>Editing show_entry</h4>

				<%= render 'form' %>

				<%= link_to 'Show', @show_entry ,class: 'btn btn-primary' %> |
				<%= link_to 'Back', show_entries_path,class: 'btn btn-primary'  %>
			</div>
	 	</div>
	</div>
</div>